<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Обнуление</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="privateOffice">
                <div class="menu">
                    <div class="menu__data data">
                        <div class="data__name">
                            ФИО
                        </div>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>

                    </div>
                </div>
                <div class="prof">
                    <div class="prof__personality personality">
                        <div class="personaliti__photo _ibj">
                            <img src="img/student.png" class="photo" alt="Мое фото">
                        </div>
                        <div class="personality__item">
                            <ul>
                                <li>О себе</li>
                                <li>Области развития</li>
                                <li>Теги</li>
                                <li>Ссылки на проекты</li>
                            </ul>
                        </div>
                    </div>
                    <div class="prof__info">
                        <div class="info__name">
                            ФИО
                        </div>
                        <div class="info__contacts">
                            <ul>
                                <li>Телефон</li>
                                <li>Почта</li>
                                <li>WA</li>
                                <li>vk</li>
                                <li>tg</li>
                            </ul>
                        </div>
                        <div class="info__education">
                            <ul>
                                <li>Образование</li>
                                <li>Курсы</li>
                                <li>Проекты</li>
                                <li>Опыт работы</li>
                            </ul>
                        </div>
                        <div class="info__skills">
                            <div class="hard-skills">
                                хардскилы
                            </div>
                            <div class="soft-skills">
                                софтскилы
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>