<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Личный кабинет</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/privatecab.css') }}">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <script
        src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="privateOffice">
                <div class="menu">
                    <div class="menu__data data" id="nav">
                        <button class="data__button-menu">
                            Профиль
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Предложения
                        </button>
                        <button class="data__button-menu">
                            Чаты
                        </button>
                    </div>
                    <button class="burger" type="button" id="navToggle">
                        <span class="burger_item">Menu</span>
                    </button>
                
                </div>
                <div class="prof">
                    <div class="prof__personality personality">
                        <div class="personaliti__photo _ibj">
                            <img src="{{ url_for('static', filename='images/image.png') }}" class="photo" alt="Мое фото">
                        </div>
                        <div class="info__contacts">
                            <h3 class="title">Контакты</h3>
                            <ul>
                                <li>
                                    <p class="form_name">Почта:</p>
                                    <p>{{ email }}</p>
                                </li>
                                <li>
                                    {% if contact1_name %}
                                        <p class="form_name">{{ contact1_name }}:</p>
                                        <p>{{ contact1_value }}</p>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if contact2_name %}
                                        <p class="form_name">{{ contact2_name }}:</p>
                                        <p>{{ contact2_value }}</p>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if contact3_name %}
                                        <p class="form_name">{{ contact3_name }}:</p>
                                        <p>{{ contact3_value }}</p>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                    </div>    
                        
                    <div class="prof__info">
                        <div class="info__name">
                            {{ surname }} {{ name }} {% if patronymic %}{{patronymic}}{% endif %}
                        </div>
                        <div class="info__personality">
                            
                            <div class="info__education">
                                <h3 class="title">Опыт</h3>
                                <ul>
                                    <li>
                                        {% if education %}
                                            <p class="form_name">Образование:</p>
                                            <p>{{ education }}</p>
                                        {% endif %}

                                    </li>
                                    <li>
                                        {% if courses %}
                                            <p class="form_name">Курсы:</p>
                                            <p>{{ courses }}</p>
                                        {% endif %}

                                    </li>
                                    <li>
                                        {% if projects %}
                                            <p class="form_name">Проекты:</p>
                                            <p>{{ projects }}</p>
                                        {% endif %}

                                    </li>
                                    <li>
                                        {% if job_experience %}
                                            <p class="form_name">Опыт работы</p>
                                            <p>{{ job_experience }}</p>
                                        {% endif %}

                                    </li>
                                </ul>
                            </div>

                            <div class="personality__item">
                                <h3 class="title">Внеучебная деятельность</h3>
                                <ul>
                                    <li>
                                        {% if about %}
                                            <p class="form_name">О себе:</p>
                                            <p>{{about}}</p>
                                        {% endif %}

                                    </li>
                                    <li>
                                        {% if growth_area %}
                                            <p class="form_name">Области развития:</p>
                                            <p>{{growth_area}}</p>
                                        {% endif %}

                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="info__skills">
                            <h3 class="title">Навыки</h3>
                            <div class="skills">
                                <div class="hard-skills">
                                    {% if hard_skills %}
                                        <p class="form_name">Хардскилы:</p>
                                        <p>{{ hard_skills }}</p>
                                    {% endif %}

                                </div>
                                <div class="soft-skills">
                                    {% if soft_skills %}
                                        <p class="form_name">Софтскилы:</p>
                                        <p>{{ soft_skills }}</p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <script src="../static/styles/privatecab.js"></script>
    </body>
</html>