<!DOCTYPE html>
<html lang="ru">
    <head>
        <title>Обнуление</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles/privatecab.css') }}">

        <meta http-equiv="Content-type" content="text/html;charset=UTF-8"/>
        <link rel="preconnect" href="https://fonts.googleapis.com"><link rel="preconnect" href="https://fonts.gstatic.com" crossorigin><link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            <div class="privateOffice">
                <div class="menu">
                    <div class="menu__data data">
                        <button class="data__button-menu">
                            Профиль
                        </button>
                        <button class="data__button-menu">
                            Проекты
                        </button>
                        <button class="data__button-menu">
                            Предложения
                        </button>
                        <button class="data__button-menu">
                            Чаты
                        </button>

                    </div>
                </div>
                <div class="prof">
                    <div class="prof__personality personality">
                        <div class="personaliti__photo _ibj">
                            <img src="img/student.png" class="photo" alt="Мое фото">
                        </div>
                        <div class="personality__item">
                            <ul>
                                <li>
                                    {% if about %}
                                        <p>О себе:</p>
                                        <p>{{about}}</p>
                                    {% endif %}

                                </li>
                                <li>
                                    {% if growth_area %}
                                        <p>Области развития:</p>
                                        <p>{{growth_area}}</p>
                                    {% endif %}

                                </li>
                                <li>
                                    {% if tags %}
                                        <p>Теги:</p>
                                        <p>{{ tags }}</p>
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="prof__info">
                        <div class="info__name">
                            {{ surname }} {{ name }} {% if patronymic %}{{patronymic}}{% endif %}
                        </div>
                        <div class="info__contacts">
                            <ul>
                                <li>
                                    <p>Почта:</p>
                                    <p>{{ email }}</p>
                                </li>
                                <li>
                                    {% if contact1_name %}
                                        <p>{{ contact1_name }}:</p>
                                        <p>{{ contact1_value }}</p>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if contact2_name %}
                                        <p>{{ contact2_name }}:</p>
                                        <p>{{ contact2_value }}</p>
                                    {% endif %}
                                </li>
                                <li>
                                    {% if contact3_name %}
                                        <p>{{ contact3_name }}:</p>
                                        <p>{{ contact3_value }}</p>
                                    {% endif %}
                                </li>
                            </ul>
                        </div>
                        <div class="info__education">
                            <ul>
                                <li>
                                    {% if education %}
                                        <p>Образование:</p>
                                        <p>{{ education }}</p>
                                    {% endif %}

                                </li>
                                <li>
                                    {% if courses %}
                                        <p>Курсы:</p>
                                        <p>{{ courses }}</p>
                                    {% endif %}

                                </li>
                                <li>
                                    {% if projects %}
                                        <p>Проекты:</p>
                                        <p>{{ projects }}</p>
                                    {% endif %}

                                </li>
                                <li>
                                    {% if job_experience %}
                                        <p>Опыт работы</p>
                                        <p>{{ job_experience }}</p>
                                    {% endif %}

                                </li>
                            </ul>
                        </div>
                        <div class="info__skills">
                            <div class="hard-skills">
                                {% if hard_skills %}
                                    <p>Хардскилы:</p>
                                    <p>{{ hard_skills }}</p>
                                {% endif %}

                            </div>
                            <div class="soft-skills">
                                {% if soft_skills %}
                                    <p>Софтскилы:</p>
                                    <p>{{ soft_skills }}</p>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
</html>