* {box-sizing: border-box}
body{
    background-color: #000;
    color: #fff;
    font-family: Montserrat;
}
.container{
  max-width: 1046px;
  margin: 0 auto;
}

  .form {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #000;
    color: #fff;
    border: 1px #221183 solid;
}

.form:focus {
  background-color: rgb(33, 19, 34);
  outline: none;
  border: 3px #221183 solid;
}

hr {
  border: 1px solid #221183;
  margin-bottom: 25px;
}

.buttons{
  display: flex;
  justify-content: space-between;
}
button {
  background-color: #221183;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

.cancelbtn, .signupbtn {
  width: 40%;
}

.signupbtn {
  
}
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;
  }
}